@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stitches</title>
    <link href="~/Content/Stitches.css" rel="stylesheet" />
</head>
<body>
    <div>
        <i class="sprite sprite-github"></i>
        <i class="sprite sprite-gmail"></i>
        <i class="sprite sprite-linkedin"></i>
        <i class="sprite sprite-stackoverflow"></i>
        <i class="sprite sprite-tumblr"></i>
        <i class="sprite sprite-twitter"></i>

    </div>
</body>
</html>
